<div class="seller-auth">
    <div class="sign-up">
      <h1>seller sign-up</h1>
      <form #sellerSighUp="ngForm" (ngSubmit)="signUp(sellerSighUp.value)" class="common-form">
        <input class="form-input" type="text" ngModel name="name" placeholder="Enter Name">
        <input class="form-input" type="password" ngModel name="password" placeholder="Enter the password">
        <input class="form-input" type="text" ngModel name="email" placeholder="Enter e-mail id">
        <button class="form-button">Signup</button>
      </form>
    </div>
</div>